<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OC001_ClassAndObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OC002_ClassAndObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OC003_ClassAndObjectSummary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OC004_NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OC005_StructForMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OC006_ObjectForMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>OC007_AnonymousObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>OC008_Encapsulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>OC009Getter_Setter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OC010_DotSyntax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OC011_Self.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>OC012_Inherit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>OC013_Super.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>OC014_Polymorphic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>OC015_InstanceVariableModifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>OC016_Description.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>OC017_Private.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>OC018_Property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>OC019_Synthesize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>OC020_Property修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>OC021_id.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>OC022_new的实现原理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>OC023_构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>OC024_instancetype和id.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>OC025_自定义构造方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>OC026_自定义构造方法在继承中的表现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>OC027_自定义类工厂方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>OC028_类的本质.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>OC029_类的启动.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>OC030_SEL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>OC031_内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>OC032_野指针和空指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>OC033_多个对象的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>OC034_Set方法的内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>OC035_Property修饰符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>OC036_@Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>OC037_循环retain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>OC038_Autorelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>OC039_ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>OC040_ARC多对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>OC041_ARC_MRC混编.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>OC042_MRC转ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>OC043_Category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>OC044_ClassExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>OC045_Block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>OC046_Protocol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>OC047_Protocol代理设计模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>OC048_NSString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>OC049_NSMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>OC050_NSArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>OC051_NSMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>OC052_NSDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>OC053_NSMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>OC054_常用结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>OC055_NSNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>OC056_NSValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>OC057_NSDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>OC058_NSCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>OC059_NSFileManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>OC060_集合对象内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>OC061_Copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>OC062_Copy内存管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>OC063_Copy与Property.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>OC064_自定义类实现Copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>OC065_单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>OC066_宏定义抽取单例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>Objective-C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A200280F1D22EBA6006CEB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20102651D1D0CF100552FDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A207D3951D2C090A00E59929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20FC0D41D2424EF00A2358F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A210A85E1D26A4AF000F0DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A21F39971D2589B300FCA3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A21F39A81D263DC600FCA3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2220B281D2ACCB600A6DBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A227651F1D25317B000AA63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22765301D253CA5000AA63D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2285FEE1D2529B4003019B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22B44E31D2BF72500BCB35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A22E28971D2AD1FC00A390BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A234BBD31D266369003D2B6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A236B07B1D2B4DFA006FAECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A236B0861D2B5348006FAECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A236B0911D2B563B006FAECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A236B09C1D2B9F24006FAECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A243CD091D27B81C00915210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A243CD141D27B85300915210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A24564331D2767B30051C6C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A24907231D2C0FF400DC3ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25204161D2BD0AB0039D6D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25204211D2BD2880039D6D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A252043C1D2BD6430039D6D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25D8F9D1D1CCD3F00F6AF54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25F27001D226C31007E5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25F270E1D22DD26007E5DBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A266ABDF1D1CD4B200910D30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26A77D41D23CC2E00B87AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26A77E51D23FEEC00B87AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26EB4641D2AD9830084A250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27514441D1D112D0082E3C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2776C5A1D257C9500AEAE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2776C651D257CB600AEAE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27B59ED1D2BA95300F4D6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A27B59F81D2BA9F600F4D6BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A280554D1D265B630009C33E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28733121D29734E00A3A6EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28E16D21D1CE10700314496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28E16E61D1CE4CD00314496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A29347791D2428820028A210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A29B800E1D226330009A73F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A22D521D23BDF100D4E171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2B6A05C1D2411AC00189664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BBAB511D20A2B900698997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BE8B471D20A6E000AB1167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2BF2CE01D1C20C30058E00C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C195AD1D2561EC00862BA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C80E491D251D06004E3003</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2CD34191D2BC214009C2EBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D3280D1D2BB8410083CF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2DA3AD81D23C52100756501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E6C8871D28C88C0096B5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2E85DA01D2C172D005895AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EBBE7D1D2AA49A005C4B60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EE07591D251BBF007558BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EF29A51D267459008DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EF29C41D2679D9008DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EF29D81D267D19008DC224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F6314F1D26ADA3008AEC80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F9A7E11D1CC80D00162E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FBBD541D2BC54B0067EFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73861D189967000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73971D18A996000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73A21D18CC58000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73AD1D1A2838000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73B81D1A4374000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73C31D1A6220000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73CE1D1A6773000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73E71D1A96A1000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC73F51D1C0D01000C32E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FEAE2A1D23B26300125562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
