<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C001_KeyWord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C002_IDentifier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>C003_Annotation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>C004_DataType.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>C005_Constant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>C006_Variable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>C007_ActionScope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>C008_Printf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>C009_Scanf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>C010_Operator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>C011_FlowControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>C012_Function.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>C014_#include.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>C015_MultiDocumentDevelopment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>C016_JinZhi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>C017_YuanMa&amp;FanMa&amp;BuMa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>C018_BitwiseOperation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>C019_Char.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>C020_TypeDescriptor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>C021_Array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20BD0291D0AB0A000AA5E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20BD0351D0B0E7A00AA5E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51651D0C3EBE00995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51711D0C60AE00995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A517D1D0C620D00995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51891D0C65B600995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51981D0C6A3900995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51A41D0C6EE500995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51B01D0C73E600995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51BC1D0C7F9B00995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51C81D0C834400995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23A51D41D0C87DF00995C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CEBC1D09A48000157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CECA1D09A58900157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CED61D09AC5B00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CEE21D09BD4E00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CEEE1D09C1DD00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CEFA1D09C77B00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CF061D09CB8500157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CF121D09D05400157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CF1E1D09D5FE00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CF2A1D09DACE00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
