<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C001_HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C002_PrintHeart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>C003_Point.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A253CE851D09A20900157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CE931D09A23500157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CE9F1D09A28300157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A253CEAB1D09A2FC00157088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
